.page{
    min-height: 100vh;
    background-color: #e1dfdf;
}
.head{
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}
.banner{
    width: 100%;
    height: 185px;
    background-image: url('https://q8.itc.cn/images01/20251106/e4d9056345574896b5ab703a35ab06f0.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}
.title-bar{
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.icon-icon-douban{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}
.num{
    font-size: 12px;
}
.login{
    font-size: 14px;
    padding: 2px 10px;
    background-color: #e89d46;
    border-radius: 20px;
}